<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Main Home</title>
</head>
<body>
    <!-- Page Preloder -->
    <div class="loader">
        <div class="loader-inner">
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
        </div>
    </div>
    <!-- Hero section -->
    <!-- --intro-- -->
    <div class="container-fluid">
        <div class="row w-100 mx-auto mt-4 width-90">
            <div class="col-lg-8 slider-introIndex2">
                <!-- Swiper -->
                <div class="swiper-container swiper-introIndex2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="~/Content/UserSideFiles/img/slider-intro/2.jpg" class="img-fluid img-intro w-100" />
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="~/Content/UserSideFiles/img/slider-intro/1.jpg" class="img-fluid img-intro w-100" />
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="~/Content/UserSideFiles/img/slider-intro/3.jpg" class="img-fluid img-intro w-100" />
                            </a>
                        </div>


                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
            <div class="col-lg-4 p-0 mt-4 mt-lg-0">
                <div class="col-12 banner-introIndedx2">
                    <a href="#">
                        <img src="~/Content/UserSideFiles/img/banner2.gif" class="img-fluid w-100" />
                    </a>
                </div>
                <div class="col-12 img-header banner-introIndedx2">
                    <a href="#">
                        <img src="~/Content/UserSideFiles/img/banner.gif" class="img-fluid w-100" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- --Endintro-- -->
    <!-- Hero section end -->
    <!-- ---group-- -->

    <div class="container-fluid mt-5 ">
        <div class="row w-100 mx-auto text-center py-4">
            <div class="col-lg-5 col-md-4 col-3 text-left pt-4">
                <img src="~/Content/UserSideFiles/img/Line 35.png" class="img-fluid w-md-25 mx-auto border-titr">
            </div>
            <div class="col-lg-2 col-md-4 col-6 pt-2">
                <h2><b class="font-kalameBlack">دسته بندی</b></h2>
            </div>
            <div class="col-lg-5 col-md-4 col-3 text-right pt-4"> <img src="~/Content/UserSideFiles/img/Line 35.png" class="img-fluid w-md-25 mx-auto border-titr"></div>
        </div>

        <div class="row  mx-auto text-center width-85">
            <div class="col-lg-9 p-0">
                <div class="row w-100 mx-auto text-center">
                    <div class="col-lg-4 py-3 py-lg-2 hj-category ">
                        <a href="#"> <img src="~/Content/UserSideFiles/img/1.png" class="img-fluid w-100 mx-auto img-category"></a>
                        <b>
                            <h4 class="STiter-Grouping">مد و پوشاک</h4>
                        </b>
                    </div>
                    <div class="col-lg-4 py-3  py-lg-2 hj-category">
                        <a href="#"> <img src="~/Content/UserSideFiles/img/2.png" class="img-fluid w-100 mx-auto img-category"></a>
                        <b>
                            <h4 class="STiter-Grouping"> کالای دیجیتال</h4>
                        </b>
                    </div>
                    <div class="col-lg-4 py-3  py-lg-2 hj-category">
                        <a href="#"><img src="~/Content/UserSideFiles/img/3.png" class="img-fluid w-100 mx-auto img-category"></a>
                        <b>
                            <h4 class="STiter-Grouping"> دفتر و لوازم تحریر </h4>
                        </b>
                    </div>

                </div>
                <div class="row w-100 mx-auto text-center">
                    <div class="col-lg-4 py-3  py-lg-2 hj-category">
                        <a href="#"><img src="~/Content/UserSideFiles/img/4.png" class="img-fluid w-100 mx-auto img-category"></a>
                        <b>
                            <h4 class="STiter-Grouping"> خودرو و ابزار</h4>
                        </b>
                    </div>
                    <div class="col-lg-4 py-3 py-lg-2 hj-category">
                        <a href="#"><img src="~/Content/UserSideFiles/img/Group 5.png" class="img-fluid w-100 mx-auto img-category"></a>
                        <b>
                            <h4 class="STiter-Grouping"> الکتریک و الکترونیک</h4>
                        </b>
                    </div>
                    <div class="col-lg-4 py-3 py-lg-2 hj-category">
                        <a href="#"> <img src="~/Content/UserSideFiles/img/6.png" class="img-fluid w-100 mx-auto img-category"></a>
                        <b>
                            <h4 class="STiter-Grouping">  خوردنی و آشامیدنی </h4>
                        </b>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 py-3 py-lg-2 hj-category ">
                <a href="#"><img src="~/Content/UserSideFiles/img/l1.png" class="img-fluid w-100 mx-auto img-category2"></a>
                <b>
                    <h4 class="STiter-Grouping"> قطعات</h4>
                </b>
            </div>
        </div>
    </div>

    <!-- ---group-- -->
    <!-- Features section -->
    <div class="container-fluid p-0 py-5 container-Service">
        <div class="row w-100 mx-auto Service">
            <div class="col-4 py-3 mx-auto text-center"><img src="~/Content/UserSideFiles/img/money (2).svg" class="img-fluid mx-auto pl-3">ضمانت بازگشت وجه</div>
            <div class="col-4 py-3 mx-auto text-center">گارانتی<img src="~/Content/UserSideFiles/img/ribbon.svg" class="img-fluid mx-auto px-2">محصولات</div>
            <div class="col-4 py-3 mx-auto text-center">ضمانت بازگشت کالا<img src="~/Content/UserSideFiles/img/Group 18.svg" class="img-fluid mx-auto pr-3"></div>
        </div>

    </div>
    <!-- Features section end -->
    <!-- letest product section -->
    <section class="top-letest-product-section">
        <div class="container">
            <div class="row w-100 mx-auto text-center py-5">
                <div class="col-lg-4 col-md-4 col-3 text-left pt-4">
                    <img src="~/Content/UserSideFiles/img/Line 35.png" class="img-fluid w-md-25 mx-auto border-titr">
                </div>
                <div class="col-lg-4 col-md-4 col-6 pt-2">
                    <h2><b class="font-kalameBlack"> آخرین محصولات</b></h2>
                </div>
                <div class="col-lg-4 col-md-4 col-3 text-right pt-4"> <img src="~/Content/UserSideFiles/img/Line 35.png" class="img-fluid w-md-25 mx-auto border-titr"></div>
            </div>
            <div class="product-slider owl-carousel">
                <div class="product-item">
                    <div class="pi-pic">
                        <a href="product.html">
                            <img src="~/Content/UserSideFiles/img/product/p30.jpg" alt="">
                        </a>
                        <div class="pi-links">
                            <a href="cart.html" class="add-card"><i class="flaticon-bag"></i><span>اضافه کردن به سبد خرید </span></a>
                            <a href="#" class="wishlist-btn"><i class="far fa-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text text-center mb-5">
                        <h4>سامسونگ A30s</h4>
                        <del><span class="offer">3,800,000تومان</span></del>
                        <br>
                        <h5>3,600,000تومان</h5>

                    </div>
                </div>
                <div class="product-item">
                    <div class="pi-pic">
                        <div class="tag-new">جدید</div>
                        <a href="product.html">
                            <img src="~/Content/UserSideFiles/img/product/p41.jpg" alt="">
                        </a>
                        <div class="pi-links">
                            <a href="cart.html" class="add-card"><i class="flaticon-bag"></i><span>اضافه کردن به سبد خرید </span></a>
                            <a href="#" class="wishlist-btn"><i class="far fa-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text text-center mb-5">
                        <h4>سامسونگ A30s</h4>
                        <del><span class="offer">3,800,000تومان</span></del>
                        <br>
                        <h5>3,600,000تومان</h5>

                    </div>
                </div>
                <div class="product-item">
                    <div class="pi-pic">
                        <a href="product.html">
                            <img src="~/Content/UserSideFiles/img/product/p48.jpg" alt="">
                        </a>
                        <div class="pi-links">
                            <a href="cart.html" class="add-card"><i class="flaticon-bag"></i><span>اضافه کردن به سبد خرید </span></a>
                            <a href="#" class="wishlist-btn"><i class="far fa-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text text-center mb-5">
                        <h4>سامسونگ A30s</h4>
                        <del><span class="offer">3,800,000تومان</span></del>
                        <br>
                        <h5>3,600,000تومان</h5>

                    </div>
                </div>
                <div class="product-item">
                    <div class="pi-pic">
                        <a href="product.html">
                            <img src="~/Content/UserSideFiles/img/product/p8.jpg" alt="">
                        </a>
                        <div class="pi-links">
                            <a href="cart.html" class="add-card"><i class="flaticon-bag"></i><span>اضافه کردن به سبد خرید </span></a>
                            <a href="#" class="wishlist-btn"><i class="far fa-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text text-center mb-5">
                        <h4>سامسونگ A30s</h4>
                        <del><span class="offer">3,800,000تومان</span></del>
                        <br>
                        <h5>3,600,000تومان</h5>

                    </div>
                </div>
                <div class="product-item">
                    <div class="pi-pic">
                        <a href="product.html">
                            <img src="~/Content/UserSideFiles/img/product/p4.jpg" alt="">
                        </a>
                        <div class="pi-links">
                            <a href="cart.html" class="add-card"><i class="flaticon-bag"></i><span>اضافه کردن به سبد خرید </span></a>
                            <a href="#" class="wishlist-btn"><i class="far fa-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text text-center mb-5">
                        <h4>سامسونگ A30s</h4>
                        <del><span class="offer">3,800,000تومان</span></del>
                        <br>
                        <h5>3,600,000تومان</h5>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- letest product section end -->
    <!-- ---banner--- -->

    <div class="container-fluid mb-5">
        <a href="#">
            <div class="row  mx-auto hj-banner position-relative">
                <img src="~/Content/UserSideFiles/img/banner.png" class="img-fluid  position-relative">

                <span id="baneertimer" class=" countdown" style="font-weight: bold;">00:00:59:54</span>

            </div>
        </a>
    </div>
    <!-- --end banner--- -->
    <!-- Product filter section -->
    <section class="product-filter-section mt-4">
        <div class="container">
            <div class="row w-100 mx-auto text-center py-5">
                <div class="col-lg-4 col-md-4 col-3 text-left pt-4">
                    <img src="~/Content/UserSideFiles/img/Line 35.png" class="img-fluid w-md-25 mx-auto border-titr">
                </div>
                <div class="col-lg-4 col-md-4 col-6 pt-2">
                    <h2><b class="font-kalameBlack"> پرفروش ترین </b></h2>
                </div>
                <div class="col-lg-4 col-md-4 col-3 text-right pt-4"> <img src="~/Content/UserSideFiles/img/Line 35.png" class="img-fluid w-md-25 mx-auto border-titr"></div>
            </div>
            <ul class="product-filter-menu text-center">
                <li><a href="#">گوشی</a></li>
                <li><a href="#">خوراکی</a></li>
                <li><a href="#">کفش</a></li>
                <li><a href="#">لپ تاپ</a></li>
                <li><a href="#">پیراهن</a></li>
                <li><a href="#">کوله پشتی</a></li>
                <li><a href="#">تلویزیون</a></li>
                <li><a href="#">فلش مموری</a></li>
            </ul>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="product-item">
                        <div class="pi-pic">
                            <a href="product.html">
                                <img src="~/Content/UserSideFiles/img/product/p8.jpg" alt="">
                            </a>
                            <div class="pi-links">
                                <a href="cart.html" class="add-card"><i class="flaticon-bag"></i><span>اضافه کردن به سبد خرید </span></a>
                                <a href="#" class="wishlist-btn"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text text-center mb-5">
                            <h4>سامسونگ A30s</h4>
                            <del><span class="offer">3,800,000تومان</span></del>
                            <br>
                            <h5>3,600,000تومان</h5>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product-item">
                        <div class="pi-pic">
                            <div class="tag-sale">استثنایی</div>
                            <a href="product.html">
                                <img src="~/Content/UserSideFiles/img/product/p50.jpg" alt="">
                            </a>
                            <div class="pi-links">
                                <a href="cart.html" class="add-card"><i class="flaticon-bag"></i><span>اضافه کردن به سبد خرید </span></a>
                                <a href="#" class="wishlist-btn"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text text-center mb-5">
                            <h4>سامسونگ A30s</h4>
                            <del><span class="offer">3,800,000تومان</span></del>
                            <br>
                            <h5>3,600,000تومان</h5>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product-item">
                        <div class="pi-pic">
                            <a href="product.html">
                                <img src="~/Content/UserSideFiles/img/product/p25.jpg" alt="">
                            </a>
                            <div class="pi-links">
                                <a href="cart.html" class="add-card"><i class="flaticon-bag"></i><span>اضافه کردن به سبد خرید </span></a>
                                <a href="#" class="wishlist-btn"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text text-center mb-5">
                            <h4>سامسونگ A30s</h4>
                            <del><span class="offer">3,800,000تومان</span></del>
                            <br>
                            <h5>3,600,000تومان</h5>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product-item">
                        <div class="pi-pic">
                            <a href="product.html">
                                <img src="~/Content/UserSideFiles/img/product/p14.jpg" alt="">
                            </a>
                            <div class="pi-links">
                                <a href="cart.html" class="add-card"><i class="flaticon-bag"></i><span>اضافه کردن به سبد خرید </span></a>
                                <a href="#" class="wishlist-btn"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text text-center mb-5">
                            <h4>سامسونگ A30s</h4>
                            <del><span class="offer">3,800,000تومان</span></del>
                            <br>
                            <h5>3,600,000تومان</h5>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product-item">
                        <div class="pi-pic">
                            <a href="product.html">
                                <img src="~/Content/UserSideFiles/img/product/p10.jpg" alt="">
                            </a>
                            <div class="pi-links">
                                <a href="cart.html" class="add-card"><i class="flaticon-bag"></i><span>اضافه کردن به سبد خرید </span></a>
                                <a href="#" class="wishlist-btn"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text text-center mb-5">
                            <h4>سامسونگ A30s</h4>
                            <del><span class="offer">3,800,000تومان</span></del>
                            <br>
                            <h5>3,600,000تومان</h5>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product-item">
                        <div class="pi-pic">
                            <a href="product.html">
                                <img src="~/Content/UserSideFiles/img/product/p18.jpg" alt="">
                            </a>
                            <div class="pi-links">
                                <a href="cart.html" class="add-card"><i class="flaticon-bag"></i><span>اضافه کردن به سبد خرید </span></a>
                                <a href="#" class="wishlist-btn"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text text-center mb-5">
                            <h4>سامسونگ A30s</h4>
                            <del><span class="offer">3,800,000تومان</span></del>
                            <br>
                            <h5>3,600,000تومان</h5>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product-item">
                        <div class="pi-pic">
                            <a href="product.html">
                                <img src="~/Content/UserSideFiles/img/product/p17.jpg" alt="">
                            </a>
                            <div class="pi-links">
                                <a href="cart.html" class="add-card"><i class="flaticon-bag"></i><span>اضافه کردن به سبد خرید </span></a>
                                <a href="#" class="wishlist-btn"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text text-center mb-5">
                            <h4>سامسونگ A30s</h4>
                            <del><span class="offer">3,800,000تومان</span></del>
                            <br>
                            <h5>3,600,000تومان</h5>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product-item">
                        <div class="pi-pic">
                            <a href="product.html">
                                <img src="~/Content/UserSideFiles/img/product/p49.jpg" alt="">
                            </a>
                            <div class="pi-links">
                                <a href="cart.html" class="add-card"><i class="flaticon-bag"></i><span>اضافه کردن به سبد خرید </span></a>
                                <a href="#" class="wishlist-btn"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text text-center mb-5">
                            <h4>سامسونگ A30s</h4>
                            <del><span class="offer">3,800,000تومان</span></del>
                            <br>
                            <h5>3,600,000تومان</h5>

                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center pt-5">
                <button class="site-btn sb-line sb-dark btn-more w-25"> بیشتر</button>
            </div>
        </div>
    </section>
    <!-- Product filter section end -->
    <!-- --product offer--- -->
    <div class="row  hj-gallery  m-0 p-0 my-5">
        <div class="col-lg-3  col-12 px-4">
            <div class="row w-100 mx-auto  py-2 my-4">
                <h2 class="text-right w-100 "><b class="hj-producttext">پیشنهاد های</b></h2>
            </div>

            <div class="row w-100 mx-auto  py-2 my-4">

                <h1 class="text-center w-100 "><b class="hj-prouduct-Tslider area"> ویژه</b></h1>
            </div>
            <div class="row w-100 mx-auto  py-2 my-4">
                <h2 class="text-left w-100 ">
                    <b class="hj-producttext"> امروز</b><!--2-->
                </h2>
            </div>


            <div class="row w-100 mx-auto text-center my-3 mb-5">
                <span id="timer-offer1" class="timer-offer w-100 mx-auto" style="font-weight: bold;">00:00:51:29</span>
            </div>

        </div>
        <div class="col-lg-9  col-12">
            <div class="swiper-container swiper-containerInterest">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product-item">
                            <div class="pi-pic">
                                <a href="product.html">
                                    <img src="~/Content/UserSideFiles/img/product/p13.jpg" alt="">
                                </a>
                                <div class="pi-links">
                                    <a href="cart.html" class="add-card"><i class="flaticon-bag"></i><span>اضافه کردن به سبد خرید </span></a>
                                    <a href="#" class="wishlist-btn"><i class="far fa-heart"></i></a>
                                </div>
                            </div>
                            <div class="pi-text text-center mb-5">
                                <h4>سامسونگ A30s</h4>
                                <del><span class="offer2">3,800,000تومان</span></del>
                                <br>
                                <h5>3,600,000تومان</h5>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item">
                            <div class="pi-pic">
                                <a href="product.html">
                                    <img src="~/Content/UserSideFiles/img/product/p22.jpg" alt="">
                                </a>
                                <div class="pi-links">
                                    <a href="cart.html" class="add-card"><i class="flaticon-bag"></i><span>اضافه کردن به سبد خرید </span></a>
                                    <a href="#" class="wishlist-btn"><i class="far fa-heart"></i></a>
                                </div>
                            </div>
                            <div class="pi-text text-center mb-5">
                                <h4>سامسونگ A30s</h4>
                                <del><span class="offer2">3,800,000تومان</span></del>
                                <br>
                                <h5>3,600,000تومان</h5>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item">
                            <div class="pi-pic">
                                <a href="product.html">
                                    <img src="~/Content/UserSideFiles/img/product/p23.jpg" alt="">
                                </a>
                                <div class="pi-links">
                                    <a href="cart.html" class="add-card"><i class="flaticon-bag"></i><span>اضافه کردن به سبد خرید </span></a>
                                    <a href="#" class="wishlist-btn"><i class="far fa-heart"></i></a>
                                </div>
                            </div>
                            <div class="pi-text text-center mb-5">
                                <h4>سامسونگ A30s</h4>
                                <del><span class="offer2">3,800,000تومان</span></del>
                                <br>
                                <h5>3,600,000تومان</h5>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item">
                            <div class="pi-pic">
                                <a href="product.html">
                                    <img src="~/Content/UserSideFiles/img/product/p34.jpg" alt="">
                                </a>
                                <div class="pi-links">
                                    <a href="cart.html" class="add-card"><i class="flaticon-bag"></i><span>اضافه کردن به سبد خرید </span></a>
                                    <a href="#" class="wishlist-btn"><i class="far fa-heart"></i></a>
                                </div>
                            </div>
                            <div class="pi-text text-center mb-5">
                                <h4>سامسونگ A30s</h4>
                                <del><span class="offer2">3,800,000تومان</span></del>
                                <br>
                                <h5>3,600,000تومان</h5>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item">
                            <div class="pi-pic">
                                <a href="product.html">
                                    <img src="~/Content/UserSideFiles/img/product/p35.jpg" alt="">
                                </a>
                                <div class="pi-links">
                                    <a href="cart.html" class="add-card"><i class="flaticon-bag"></i><span>اضافه کردن به سبد خرید </span></a>
                                    <a href="#" class="wishlist-btn"><i class="far fa-heart"></i></a>
                                </div>
                            </div>
                            <div class="pi-text text-center mb-5">
                                <h4>سامسونگ A30s</h4>
                                <del><span class="offer2">3,800,000تومان</span></del>
                                <br>
                                <h5>3,600,000تومان</h5>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item">
                            <div class="pi-pic">
                                <a href="product.html">
                                    <img src="~/Content/UserSideFiles/img/product/p37.jpg" alt="">
                                </a>
                                <div class="pi-links">
                                    <a href="cart.html" class="add-card"><i class="flaticon-bag"></i><span>اضافه کردن به سبد خرید </span></a>
                                    <a href="#" class="wishlist-btn"><i class="far fa-heart"></i></a>
                                </div>
                            </div>
                            <div class="pi-text text-center mb-5">
                                <h4>سامسونگ A30s</h4>
                                <del><span class="offer2">3,800,000تومان</span></del>
                                <br>
                                <h5>3,600,000تومان</h5>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item">
                            <div class="pi-pic">
                                <a href="product.html">
                                    <img src="~/Content/UserSideFiles/img/product/p38.jpg" alt="">
                                </a>
                                <div class="pi-links">
                                    <a href="cart.html" class="add-card"><i class="flaticon-bag"></i><span>اضافه کردن به سبد خرید </span></a>
                                    <a href="#" class="wishlist-btn"><i class="far fa-heart"></i></a>
                                </div>
                            </div>
                            <div class="pi-text text-center mb-5">
                                <h4>سامسونگ A30s</h4>
                                <del><span class="offer2">3,800,000تومان</span></del>
                                <br>
                                <h5>3,600,000تومان</h5>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>

        </div>



    </div>
    <!-- --end product offer-- -->
    <!-- ---interest--- -->
    <div class="container-fluid width-85 mx-auto my-5">
        <div class="row w-100 mx-auto text-center py-5">
            <div class="col-lg-4 col-md-4 col-3 text-left pt-4">
                <img src="~/Content/UserSideFiles/img/Line 35.png" class="img-fluid w-md-25 mx-auto border-titr">
            </div>
            <div class="col-lg-4 col-md-4 col-6 pt-2">
                <h2><b class="font-kalameBlack">  محصولات پربازدید </b></h2>
            </div>
            <div class="col-lg-4 col-md-4 col-3 text-right pt-4"> <img src="~/Content/UserSideFiles/img/Line 35.png" class="img-fluid w-md-25 mx-auto border-titr"></div>
        </div>
        <div class="swiper-container swiper-containerInterest">
            <div class="swiper-wrapper">
                <div class="swiper-slide">

                    <div class="product-item">
                        <div class="pi-pic">
                            <a href="product.html">
                                <img src="~/Content/UserSideFiles/img/product/p46.jpg" alt="">
                            </a>
                            <div class="pi-links">
                                <a href="cart.html" class="add-card"><i class="flaticon-bag"></i><span>اضافه کردن به سبد خرید </span></a>
                                <a href="#" class="wishlist-btn"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text text-center mb-5">
                            <h4>سامسونگ A30s</h4>
                            <del><span class="offer">3,800,000تومان</span></del>
                            <br>
                            <h5>3,600,000تومان</h5>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-item">
                        <div class="pi-pic">
                            <a href="product.html">
                                <img src="~/Content/UserSideFiles/img/product/p48.jpg" alt="">
                            </a>
                            <div class="pi-links">
                                <a href="cart.html" class="add-card"><i class="flaticon-bag"></i><span>اضافه کردن به سبد خرید </span></a>
                                <a href="#" class="wishlist-btn"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text text-center mb-5">
                            <h4>سامسونگ A30s</h4>
                            <del><span class="offer">3,800,000تومان</span></del>
                            <br>
                            <h5>3,600,000تومان</h5>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-item">
                        <div class="pi-pic">
                            <a href="product.html">
                                <img src="~/Content/UserSideFiles/img/product/p29.jpg" alt="">
                            </a>
                            <div class="pi-links">
                                <a href="cart.html" class="add-card"><i class="flaticon-bag"></i><span>اضافه کردن به سبد خرید </span></a>
                                <a href="#" class="wishlist-btn"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text text-center mb-5">
                            <h4>سامسونگ A30s</h4>
                            <del><span class="offer">3,800,000تومان</span></del>
                            <br>
                            <h5>3,600,000تومان</h5>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-item">
                        <div class="pi-pic">
                            <a href="product.html">
                                <img src="~/Content/UserSideFiles/img/product/p18.jpg" alt="">
                            </a>
                            <div class="pi-links">
                                <a href="cart.html" class="add-card"><i class="flaticon-bag"></i><span>اضافه کردن به سبد خرید </span></a>
                                <a href="#" class="wishlist-btn"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text text-center mb-5">
                            <h4>سامسونگ A30s</h4>
                            <del><span class="offer">3,800,000تومان</span></del>
                            <br>
                            <h5>3,600,000تومان</h5>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-item">
                        <div class="pi-pic">
                            <a href="product.html">
                                <img src="~/Content/UserSideFiles/img/product/p13.jpg" alt="">
                            </a>
                            <div class="pi-links">
                                <a href="cart.html" class="add-card"><i class="flaticon-bag"></i><span>اضافه کردن به سبد خرید </span></a>
                                <a href="#" class="wishlist-btn"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text text-center mb-5">
                            <h4>سامسونگ A30s</h4>
                            <del><span class="offer">3,800,000تومان</span></del>
                            <br>
                            <h5>3,600,000تومان</h5>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-item">
                        <div class="pi-pic">
                            <a href="product.html">
                                <img src="~/Content/UserSideFiles/img/product/p12.jpg" alt="">
                            </a>
                            <div class="pi-links">
                                <a href="cart.html" class="add-card"><i class="flaticon-bag"></i><span>اضافه کردن به سبد خرید </span></a>
                                <a href="#" class="wishlist-btn"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text text-center mb-5">
                            <h4>سامسونگ A30s</h4>
                            <del><span class="offer">3,800,000تومان</span></del>
                            <br>
                            <h5>3,600,000تومان</h5>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-item">
                        <div class="pi-pic">
                            <a href="product.html">
                                <img src="~/Content/UserSideFiles/img/product/p46.jpg" alt="">
                            </a>
                            <div class="pi-links">
                                <a href="cart.html" class="add-card"><i class="flaticon-bag"></i><span>اضافه کردن به سبد خرید </span></a>
                                <a href="#" class="wishlist-btn"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text text-center mb-5">
                            <h4>سامسونگ A30s</h4>
                            <del><span class="offer">3,800,000تومان</span></del>
                            <br>
                            <h5>3,600,000تومان</h5>

                        </div>
                    </div>
                </div>

            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>



    <!-- ---end interest--->

</body>
</html>

